@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,300,700,700italic,900);

img:hover{
	transform:scale(1.1);
	transition:all.9s ease;
	opacity:0.9;
	cursor:pointer;
}
body{
	background:url(../img/background.jpg) repeat fixed;
}

a{
	text-decoration:none;
}

.container-fluid{
	width:1240px;
	margin:17px auto 17px;
}

.container{
	width:1170px;
	margin:0 auto;
}
header{
	background-color:#2e3537;
	border-radius:15px 15px 0 0;
}

.top-content{
	padding-top:25px;
	height:40px;
}

.top-content ul{
	float:left;
}

.top-content ul li{
	display:inline-block;
	margin-right:12px;
}

.top-content ul li a,.top-content span a{
	color:#999999;
	font-family:roboto;
	font-size:14px;
}

.top-content span{
	display:inline-block;
	float:right;
}

.top-content ul li a:hover,.top-content span a:hover{
	text-decoration:underline;
}
.supertop_head {
	background-color:white;
}

.logo{
	float:left;
	margin:14px 0;
}

nav{
	float:right;
	margin-top:32px;
}

nav ul li{
	display:inline-block;
	margin-left:15px;	
}

nav ul li a{
	font-family:roboto;
	font-size:12px;
	color:#333333;
}

nav ul li a:hover{
	color:#e74c3c;
}
ul.circle{
	float:right;
	margin-top:18px;
	margin-left:8px;
}

ul.circle li{
	display:inline-block;
	margin-left:8px;
}

ul.circle li a i{
	float:right;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#999;
	display:block;
	border:1px solid #999;
	border-radius:50%;
}
ul.circle li a i:hover{
	border-color:#e74c3c;
	color:#e74c3c;
}
.slider{
	width:100%;
	background:url(../img/images-5.jpg) no-repeat center center fixed  cover;
}

.overlay{
	background:rgba(0,0,0,0.4);
	padding-top:100px;
	padding-bottom:100px;
}

.txt-content{
	text-align:center;
	color:#fff;
	margin-bottom:90px;
}

.txt-content h1{
	margin-bottom:65px;
	font-family:open sans;
	font-size:60px;
	font-weight:bold;
}

.txt-content p{
	margin-bottom:45px;
	font-family:roboto;
	font-size:25px;
	font-weight:200;
}
.txt-content a{
	border:1px solid #fff;
	font-family:roboto;
	font-size:14px;
	color:#fff;
	padding:15px 20px;
}

.txt-content a:hover{
	text-decoration:underline;
}

.txt-content span{
	font-family:roboto;
	font-size:14px;
	margin:0 10px;
}

.list-item{
	width:309px;
	float:left;
	margin-right:91px;
	margin-bottom:35px;
}

.list-item ul li{
	margin-bottom:18px;
}
.list-item ul li a{
	font-family:roboto;
	font-size:18px;
	color:#fff;
	font-weight:300;
}

.list-item:last-child{
	margin-right:0;
}

.list-item i{
	background-color:#31aae2;
	border-radius:50%;
	width:38px;
	height:38px;
	border:1px solid #31aae2;
	line-height:38px;
	text-align:center;
	margin-right:10px;
}
.list-item i:hover{
	background-color:transparent;
	border-color:#e74c3c;
	color:#e74c3c;
}

.list-item a:hover{
	color:#0FF;
	transition:all .3s ease-in-out;
}

.blog{
	background-color:#e74c3c;
}
.blog-txt p{
	font-family:roboto;
	font-size:24px;
	font-weight:300;
	color:#fff;
	float:left;
	padding:50px 0 58px 0;
}
.blog-txt a{
	border:1px solid #fff;
	font-family:roboto;
	font-size:14px;
	color:#fff;
	padding:15px 20px;
	margin-top:39px;
	float:right;
}

.blog-txt a:hover{
	text-decoration:underline;
}

.choose{
	padding-bottom:150px;
}

.area-top{
	text-align:center;
	display:block;
	margin:0 auto;
	width:680px;
	color:#fff;

	text-align:center;	
}

.area-top h2{
	padding:80px 0;
	font-family:roboto;
	font-size:44px;
	color:#333;
	font-weight:300;
}
.area-top span{
	color:#e74c3c;
}

.area-top p{
	font-family:roboto;
	font-size:16px;
	color:#777;
	font-weight:300;
	line-height:24px;
	margin-bottom:38px;
}

.area-top p.white{
	color:#fff;
}

.bdr{
	width:650px;
	border-bottom:1px solid #e8e8e8;
	margin-bottom:28px;
}

.font-area{
	width:310px;
	float:left;
	text-align:center;
	margin-right:95px;
}

.font-area:last-child{
	margin-right:0;
}
.font-area i{
	color:#777;
	border:1px solid #848484;
	border-radius:50%;
	width:80px;
	height:80px;
	line-height:80px;
	font-size:20px;
	text-align:center;
	margin-bottom:23px;
}
.font-area i:hover{
	background-color:transparent;
	border-color:#e74c3c;
	color:#e74c3c;
}
.font-area h4{
	font-family:roboto;
	font-size:20px;
	color:#333333;
	font-weight:300;
	margin-bottom:34px;
}
.font-area p{
	font-family:roboto;
	font-size:14px;
	color:#333333;
	font-weight:300;
	line-height:20px;
}

.mobile{
	width:270px;
	float:left;
	margin-left:40px;
	margin-right:50px;
	margin-bottom:80px;
}

.post-col-1{
	width:357px;
	float:left;
	margin-right:68px;
}

.post-col-1:last-child{
	margin-right:0;
}

.item{
	margin-top:50px;
}

.item i{
	background-color:#1b90a2;
	border:1px solid #1b90a2;
	width:69px;
	height:69px;
	line-height:69px;
	text-align:center;
	float:left;
	border-radius:50%;
	color:#fff;
	margin-right:19px;
}
.item i:hover{
	border-color:#1b90a2;
	color:#1b90a2;
	background-color:transparent;
	cursor:pointer;
}
.item i.pink{
	background-color:#e10765;
	border-color:#e10765;
	color:#fff;
}
.item i.pink:hover{
	border-color:#e10765;
	color:#e10765;
	background-color:transparent;
	cursor:pointer;
}
.item i.orange{
	background-color:#ff9c00;
	border-color:#ff9c00;
	color:#fff;
}
.item i.orange:hover{
	border-color:#ff9c00;
	color:#ff9c00;
	background-color:transparent;
	cursor:pointer;
}
.item i.blue{
	background-color:#4ad0eb;
	color:#fff;
	border-color:#4ad0eb;
}
.item i.blue:hover{
	border-color:#4ad0eb;
	color:#4ad0eb;
	background-color:transparent;
	cursor:pointer;
}
.item i.green{
	background-color:#b3d735;
	border-color:#b3d735;
	color:#fff;
}
.item i.green:hover{
	border-color:#b3d735;
	color:#b3d735;
	background-color:transparent;
	cursor:pointer;
}
.item i.brown{
	background-color:#b99a7b;
	border-color:#b99a7b;
	color:#fff;
}
.item i.brown:hover{
	border-color:#b99a7b;
	color:#b99a7b;
	background-color:transparent;
	cursor:pointer;
}

.item h5{
	font-family:roboto;
	font-size:18px;
	color:#333;
	margin-bottom:18px;
}
.item p{
	font-family:roboto;
	font-size:14px;
	color:#777;
	line-height:18px;
}

.back-img{
	width:100%;
	background:url(../img/img-1.jpg) no-repeat center center fixed / cover;
}
.area-top img{
	border-radius:50%;
	margin-bottom:20px;
}

.area-top span.left{
	float:left;
	font-size:18px;
}

.area-top p.designer{
text-align:right;
	color:#fff;
	font-style:italic;
}

.capture{
	width:375px;
	float:left;
	text-align:center;
	background-color:#fafafa;
	padding-bottom:22px;
	margin-right:22px;
	margin-bottom:70px;
}

.capture:last-child{
	margin-right:0;
}

.capture h5{
	color:#333;
	font-family:roboto;
	font-size:20px;
	font-weight:300;
	margin-top:20px;
	margin-bottom:24px;
}
.capture p.title{
	font-family:roboto;
	font-size:12px;
	font-weight:300;
	color:#adadad;
	margin-bottom:22px;
}
.capture p span{
	margin: 0 12px;
}

.capture p.info{
	font-family:roboto;
	font-size:14px;
	color:#777;
	line-height:20px;
	margin-bottom:22px;
}

.capture a{
	border:1px solid #e74e3e;
	border-radius:20px;
	padding:10px 15px;
	color:#e74e3e;
	font-family:roboto;
	font-size:12px;
}

.capture a:hover{
	text-decoration:underline;
}

.capture-bdr{
	border:1px solid #efefef;
}

.back-img-1{
	width:100%;
	background:url(../img/second.jpg) repeat center center fixed / cover;
}

.photo{
	float:left;
	width:160px;
	height:160px;
	text-align:center;
	border:2px solid #e74c3c;
	border-radius:6px;
	margin:70px 62px;
}
.photo:hover{
	cursor:pointer;
	border-color:red;
	box-shadow:inset 0 0 15px #f00;
}
.photo:last-child{
	margin-right:0;
}

.photo h3{
	color:#666;
	font-family:roboto;
	font-size:60px;
	padding-top:45px;
}

.photo p{
	color:#e74c3c;
	font-family:roboto;
	font-size:14px;
}

footer{
	background-color:#313131;
	    border-bottom-right-radius: 10px;
		    border-bottom-left-radius: 10px;
}

.foot-1{
	width:270px;
	float:left;
	margin-top:24px;
	margin-right:25px;
}

.foot-1:last-child{
	margin-right:0;
}

.foot-1 p{
	color:#959595;
	font-family:roboto;
	font-size:12px;
	line-height:20px;
	margin-bottom:26px;
}

.foot-1 p i{
	color:#e74c3c;
	margin-right:10px;
}

ul.foot-list li{
	text-align:center;

	display:inline-block;
	
	margin-bottom:25px;
}
ul.foot-list li a{
	border:1px solid #737373;
	color:#777777;
    border-radius:50%;
	line-height: 40px;
    width: 40px;
    height: 40px;
    display: inline-block;
}

ul.foot-list li a.facebook:hover{
	color:#fff;
	box-shadow:inset 0 0 15px #06F;
	border-color:#06F;
}
ul.foot-list li a.twitter:hover{
	color:#fff;
	box-shadow:inset 0 0 15px #0CF;
	border-color:#0CF;
}
ul.foot-list li a.pinterest:hover{
	color:#fff;
	box-shadow:inset 0 0 15px #936;
	border-color:#936;
}
ul.foot-list li a.google:hover{
	color:#Fff;
	box-shadow:inset 0 0 15px #f00;
	border-color:#f00;
}
ul.foot-list li a.link:hover{
	color:#fff;
	box-shadow:inset 0 0 15px #3CF;
	border-color:#3CF;
}

.foot-1 input{
	background-color:transparent;
	border:1px solid #4a4a4a;
	padding:11px 0 12px 17px;
	width:251px;
	color:#959595;
	margin-bottom:18px;
}

.foot-1 button{
	background-color:#e74c3c;
	color:#fff;
	border:1px solid #e74c3c;
	padding:12px 0;
	width:98px;
}
.foot-1 button:hover{
	border-color:#e74c3c;
	box-shadow:inset 0 0 15px #e74c3c;
	background-color:transparent;
	cursor:pointer;
}

.foot-item img{
	float:left;
	margin-right:10px;
	margin-bottom:15px;
}
.foot-item h4{
	color:#fff;
	font-family:roboto;
	font-size:15px;
	margin-top:5px;
	margin-bottom:9px;
}

.foot-item p{
	color:#777777;
	font-family:roboto;
	font-size:12px;
}
.foot-item i{
	margin-left:5px;
}
.bdr-btm{
	border-bottom:1px solid #282828;
	margin-bottom:15px;
}

.foot-1 img{
	opacity:0.5;
	float:left;
	margin-right:6px;
	margin-bottom:6px;
}

.foot-1 img:hover{
	transition:all .4s ease-in-out;
	opacity:1;
	cursor:pointer;
}


.back_white{
	background-color:white;
}
input:hover{
	box-shadow:0 0 15px #33cccd;
}
input:focus{
	box-shadow:0 0 15px #fff;
}